<section class="main_producto_section">
    <h3 class="main_producto_section_h3">Descripcion del producto</h3>
    <p class="main_producto_section_p">Contiene un nivel de máxima pureza con una rápida absorción de suero
        lácteo, obtenida por métodos no agresivos que garantizan la calidad y estabilidad proteica. Además es
        baja en carbohidratos, ácidos grasos y una excelente calidad, garantizando una efectiva y rápida
        recuperación del tejido muscular. Aportando un alto contenido de aminoácidos esenciales para el
        organismo,obteniendo una excelente bioasimilación y absorción de micronutrientes.Su agradable sabor y
        alta disolución lo convierte en la opción inteligente a la hora de incorporar proteínas de alto valor
        biológico a nuestra dieta.</p>
</section>