<section>
    <h3 class="main_producto_section_h3">Informacion Nutricional</h3>
    <ul class="main_producto_section_ul_detalles">
        <li>PORCIÓN: 40gr.</li>
        <li>PORCIONES POR ENVASE: 25 POR PORCIÓN %IDR(*)</li>
        <li>Proteínas 25 g. 45%</li>
        <li>Bcaa 2gs</li>
        <li>Glutamina 6gs</li>
        <li>Grasas trans 0%</li>
        <li>Carbohidratos 12 g. 4%</li>
        <li>Valor energético 166 Kcal / 695Kj 8%</li>
    </ul>
</section>