<nav>
    <article>
        <div class="main_contenedor_superior">
            <h2 class="main_producto_titulo_mobile">When Protein (1000 grs) NUCLEO FIT - Frutos Rojos</h2>
            <div class="main_producto_imagen">
                <img src="/images/detalledelproducto01.jpeg" alt="">
            </div>
        </div>
        <div class="main_contenedor_inferior">
            <h2 class="main_producto_titulo_tablet">When Protein (1000 grs) NUCLEO FIT - Frutos Rojos</h2>
            <h2 class="main_producto_subtitulo">Suplemento dietario de proteinas y aminoacidos</h2>
            <p class="main_producto_precio">$7500</p>
            <p class="main_producto_cuotas">3 cuotas sin interes de $2500</p>
            <nav class="main_producto_nav">
                <ul class="valoracion">
                    <li class="_1"><i class="fa-solid fa-star"></i></li>
                    <li class="_2"><i class="fa-solid fa-star"></i></li>
                    <li class="_3"><i class="fa-solid fa-star"></i></li>
                    <li class="_4"><i class="fa-solid fa-star"></i></li>
                    <li class="_5"><i class="fa-solid fa-star"></i></li>
                    <li class="_6">valoracion</li>
                </ul>
            </nav>
            <nav class="main_producto_nav_cantidad">
                <ul class="counter">
                    <li class="btn"><i class="fa-solid fa-minus"></i></li>
                    <li class="count-detail">2</li>
                    <li class="btn"><i class="fa-solid fa-plus"></i></li>
                </ul>
            </nav>
            <form action="/product-cart"><button class="button">Comprar</button></form>
            <p class="main_producto_stock">Stock Disponible.</p>
        </div>  
    </article>
</nav>