<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body class="#">
    <%- include('./partials/header') %>
    <main class="main">
        <section class="main_section">
            <article>
                <div class="main_contenedor_superior">
                    <h2 class="main_producto_titulo_mobile">When Protein (1000 grs) NUCLEO FIT - Frutos Rojos</h2>
                    <div class="main_producto_imagen">
                        <img src="../images/detalledelproducto01.jpeg" alt="">
                    </div>
                </div>
                <div class="main_contenedor_inferior">
                    <h2 class="main_producto_titulo_tablet">When Protein (1000 grs) NUCLEO FIT - Frutos Rojos</h2>
                    <h2 class="main_producto_subtitulo">Suplemento dietario de proteinas y aminoacidos</h2>
                    <p class="main_producto_precio">$7500</p>
                    <p class="main_producto_cuotas">3 cuotas sin interes de $2500</p>
                    <nav class="main_producto_nav">
                        <ul class="valoracion">
                            <li class="_1"><i class="fa-solid fa-star"></i></li>
                            <li class="_2"><i class="fa-solid fa-star"></i></li>
                            <li class="_3"><i class="fa-solid fa-star"></i></li>
                            <li class="_4"><i class="fa-solid fa-star"></i></li>
                            <li class="_5"><i class="fa-solid fa-star"></i></li>
                            <li class="_6">valoracion</li>
                        </ul>
                    </nav>
                    <nav class="main_producto_nav_cantidad">
                        <ul class="counter">
                            <li class="btn"><i class="fa-solid fa-minus"></i></li>
                            <li class="count-detail">2</li>
                            <li class="btn"><i class="fa-solid fa-plus"></i></li>
                        </ul>
                    </nav>
                    <form action="/product-cart"><button class="button">Comprar</button></form>
                    <p class="main_producto_stock">Stock Disponible.</p>
                </div>  
            </article>
        </section>
        <section class="main_producto_section">
            <h3 class="main_producto_section_h3">Descripcion del producto</h3>
            <p class="main_producto_section_p">Contiene un nivel de máxima pureza con una rápida absorción de suero
                lácteo, obtenida por métodos no agresivos que garantizan la calidad y estabilidad proteica. Además es
                baja en carbohidratos, ácidos grasos y una excelente calidad, garantizando una efectiva y rápida
                recuperación del tejido muscular. Aportando un alto contenido de aminoácidos esenciales para el
                organismo,obteniendo una excelente bioasimilación y absorción de micronutrientes.Su agradable sabor y
                alta disolución lo convierte en la opción inteligente a la hora de incorporar proteínas de alto valor
                biológico a nuestra dieta.</p>
        </section>

        <section>
            <h3 class="main_producto_section_h3">Informacion Nutricional</h3>
            <ul class="main_producto_section_ul_detalles">
                <li>PORCIÓN: 40gr.</li>
                <li>PORCIONES POR ENVASE: 25 POR PORCIÓN %IDR(*)</li>
                <li>Proteínas 25 g. 45%</li>
                <li>Bcaa 2gs</li>
                <li>Glutamina 6gs</li>
                <li>Grasas trans 0%</li>
                <li>Carbohidratos 12 g. 4%</li>
                <li>Valor energético 166 Kcal / 695Kj 8%</li>
            </ul>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>