<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detalledelproducto</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/df7032ec01.js" crossorigin="anonymous"></script>
</head>

<body class="body_producto">
    <header class="producto_header">
        <section class="producto_header_section">
            <article class="producto_header_section_article">
                <h2 class="producto_header_section_article_h2" >When Protein (1000 grs) NUCLEO FIT - Frutos Rojos</h2>
                <div class="producto_header_section_article_h2_div">
                    <img width="280" height="280" src="../images/detalledelproducto01.jpeg" alt=""> 
                </div>
                <h2 class="producto_header_section_article_h2">Suplemento dietario de proteinas y aminoacidos</h2>
                <p class="producto_header_section_article_h2_div_p">$1694</p>
                <p class="producto_header_section_article_h2_div_p_p">3 cuotas sin interes de $566,60</p>
            </article>
            <nav class="producto_header_section_nav_valoracion">
                <ul class="producto_header_section_nav_valoracion_ul">
                    <li><i class="fa-light fa-star"></i></li>
                    <li><i class="fa-light fa-star"></i></li>
                    <li><i class="fa-light fa-star"></i></li>
                    <li><i class="fa-light fa-star"></i></li>
                    <li><i class="fa-light fa-star"></i></li>
                    <li>Valoracion</li>
                </ul>
            </nav>
            <div class="producto_header_section_div_button"> <form action=""><button>Comprar</button></form></div>
        </section>

        <section>
            <h3 class="producto_header_section_h3">Descripcion del producto</h3>
            <p class="producto_header_section_h3_p">Contiene un nivel de máxima pureza con una rápida absorción de suero lácteo,obtenida por métodos no agresivos que garantizan la calidad y estabilidad proteica.Además es baja en carbohidratos, ácidos grasos y una excelente calidad, garantizando una efectiva y rápida recuperación del tejido muscular. Aportando un alto contenido de aminoácidos esenciales para el organismo, obteniendo una excelente bioasimilación y absorción de micronutrientes.Su agradable sabor y alta disolución lo convierte en la opción inteligente a la hora de incorporar proteínas de alto valor biológico a nuestra dieta.</p>
        </section>
        
        <section>
            <h3 class="producto_header_section_h3">Informacion Nutricional</h3>
            <ul class="producto_header_section_ul_detalles">
                <li>PORCIÓN: 40gr.</li>
                <li>PORCIONES POR ENVASE: 25 POR PORCIÓN %IDR(*)</li>
                <li>Proteínas 25 g. 45%</li>
                <li>Bcaa 2gs</li>
                <li>Glutamina 6gs</li>
                <li>Grasas trans 0%</li>
                <li>Carbohidratos 12 g. 4%</li>
                <li>Valor energético 166 Kcal / 695Kj 8%</li>
            </ul>
        </section>
    </header>
</body>
</html>