<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>
    </header>
    <main>
        <div>
            <h1>Iniciá sesión</h1>
        </div>
     <form>
        <div>
            <label>Email:</label>
            <input type="email" name="email">
        </div>
        <div>
            <label>Contraseña:</label>
            <input type="password" name="clave">
        </div>
        <p><a href="">¿Olvidaste tu contraseña?</a></p>
        <div>
            <button type="submit">ACCEDER</button>
        </div>
        <p>¿No tienes cuenta? <a href="/register">Crear cuenta</a></p>
     </form>
    </main>
    <footer>
    </footer>
</body>
</html>