<!DOCTYPE html>
<html lang="es">
<<<<<<< HEAD
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/5b33f8a9a4.js" crossorigin="anonymous"></script>
</head>
=======
<%- include('./partials/head') %>
>>>>>>> b256a34c2c1f8b64500dcb7405b9e2ae5abc5317
<body>
    <%- include('./partials/header') %>
    <main class="login-main">
        <div class="login-main-div">
            <h1>Inicia sesión</h1>
        </div>
     <form action="/login" method="get">
        <div class="login-main-div">
            <label class="login-main-label">Email:</label>
            <input class="login-main-input" type="email" name="email" placeholder="ej: tunombre@email.com">
        </div>
        <div class="login-main-div">
            <label class="login-main-label">Contraseña:</label>
            <i class="fa-solid fa-eye-slash"></i>
            <input class="login-main-input"  type="password" name="clave">
        </div>
        <p class="login-main-olv-contraseña"><a href="">¿Olvidaste tu contraseña?</a></p>
        <div class="login-main-div-button">
            <button class="login-main-button" type="submit">ACCEDER</button>
        </div>
        <p class="login-main-crear_cuenta">¿No tienes cuenta? <a class="login-main-a-crear_cuenta" href="/register">Crear cuenta</a></p>
     </form>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>