<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Cart</title>
</head>
<body>

    <main>
        <h1>Carrito de Compras</h1>
        <section>
            <div><img src="/images/product.png" alt="producto"></div>
            <p>Descripcion</p>
            <button>Eliminar</button>
            <button>Cambiar cantidad producto</button>
            <p>Precio</p>
        </section>
        <form action="">
            <input type="text" name="" placeholder="Código de descuento">
            <button>APLICAR</button>
        </form>
        <h2>Subtotal (sin envío):</h2>
        <p>Precio</p>
        <div>
            <h4>Ver más productos</h4>
            <h4>Continuar compra</h4>
        </div>
        <section>
            <h2>DESTACADO</h2>
            <div><img src="/public/images/productoCarrito.png" alt="producto"></div>
            <p>Descripcion</p>
            <p>Precio</p>
            <h4>Comprar</h4>
        </section>
    </main>
    
</body>
</html>