<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main class="register-main">
        <div class="register-main-hijo">
        <nav>
          <ul class="register-main-menu">
            <li><a href="/">Inicio ></a></li>
            <li><a href="/users/login">Mi cuenta ></a></li>
            <li>Crear cuenta</li>
          </ul>
        </nav>
        <h1 class="register-main-titulo">Crear cuenta</h1>
      <form action="/register" method="get">
        <div class="register-main-div">
            <label class="register-main-label">Nombre y Apellido:</label>
            <input class="register-main-input" type="text" name="usuario" placeholder="ej: María Perez" required>
        </div>
        <div class="register-main-div">
            <label class="register-main-label">Email:</label>
            <input class="register-main-input" type="email" name="email" placeholder="ej: tunombre@email.com" required>
        </div>
        <div class="register-main-div">
            <label class="register-main-label">Teléfono (opcional):</label>
            <input class="register-main-input" type="tel" name="telefono" placeholder="ej: 1123547689">
        </div>
        <div class="register-main-div">
            <label class="register-main-label">Contraseña:</label>
            <i class="fa-solid fa-eye-slash"></i>
            <input class="register-main-input" type="password" name="clave" required>
        </div>
        <div class="register-main-div">
            <label class="register-main-label">Confirmar Contraseña:</label required>
            <i class="fa-solid fa-eye-slash"></i>
            <input class="register-main-input" type="password" name="clave2">
        </div>
        <div class="register-main-div_button">
            <button class="register-main-button" type="submit">Crear cuenta</button>
        </div>
        <p class="register-main-p">¿Ya tenés una cuenta? <a class="register-main-inicia_sesion" href="/users/login">Inicia Sesión</a></p>
      </form>
      </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>