body{
    position: absolute;
    padding: 20px 20px;
    margin: 10px;
    text-align: center;
    --tipografiaGeneral : 'Roboto';
    line-height: normal;
    box-sizing: border-box;
}
.main_producto_h2{
   font-size: 20px;
}
.main_producto_imagen{
    background-position: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
  /*   position: absolute; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.main_producto_precio{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}
.main_producto_cuotas{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}
.main_producto_nav_ul{
    display: flex;
    margin-bottom: 10px;
    text-align: center;
} 
.main_section form button{
    background-color: var(--colorAzulOscuro);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}
.main_producto_section_h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.main_producto_section_p{
    text-align: justify;

}
.main_producto_section_ul_detalles{
    text-align: justify;
}










/* .producto_header_section_div_button{
    font-size: 30px;
    background-color: var(--colorAzulOscuro);
} */