/* HEADER */

.home__header {
    padding: 25px 0 20px;
}

.home__header__logo {
    width: 40%;
    margin: 0 0 10px 25px;
}

.home__header__buscador {
    margin: 0 0 10px 15px;
}

.home__header__cuotas {
    text-align: center;
    font-size: var(--sizeCuerpo);
}

.home__header__nav {
    font-size: var(--sizeCuerpo);
    margin: 20px 0 20px;
}

.home__header__nav--menu {
    padding: 0 0 20px;
}

.home__header__burger--menu {
    text-align: center;
}

.home__header__burger--menu button{
    color: #fff;
    background-color: var(--colorCeleste);
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 15%;
}


/* MAIN */

.home__main__section__visita h3 {
    font-size: var(--sizeTitulares);
}

.home__main__section__ofertas h3 {
    font-size: var(--sizeTitulares);
}

.home__main__section--precio {
    font-size: var(--sizePrecios);
}

.home__main__section--descuento {
    font-size: var(--sizeDescuentos);
}

.home__main__section--descripcion {
    font-size: var(--sizeDescripciones);
}


/* FOOTER */

.home__footer__section {
    margin: 0 0 20px;
}

.home__footer__section__article {
    margin: 50px 35px 0;
    text-align: center;
}

.home__footer__section__article--icon {
    color: var(--colorCeleste);
    font-size: 2em;
    margin-bottom: 10px;
}

.home__footer__section__article h4 {
    font-size: var(--sizeDescripciones);
}

p {
    font-size: var(--sizeCuerpo);
}

.home__footer__section--copyright {
    padding-left: 15px;
    margin-top: 40px;
}
