/*BANNER*/
.index__section__banner{
    width: 100%;
}

/*ELIPSES*/
.index__section__elipses{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.index__section__elipses i{
    background: #BBE1FA;
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    font-size: 40px;
    padding: 12px;
}

.index .centrado-i{
    margin-left: 10px;
}

.index__section__elipses p{
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    color: var(--colorAzulOscuro);
}

/*FLEXBOX SECTION & ARTICLES*/
.index__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.index__section__novedades--article, .index__section__destacado--article{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-bottom: 30px;

}

.index__section__destacado{
    margin-bottom: 15px;
}

.article__price--flex{
    display: flex;
    gap: 10px;
    align-items: center;
}




/*PRODUCT*/
.index__section__novedades, .index__section__destacado{
    width: 250px;

    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-shadow: -1px 1px 5px 2px rgba(0, 0, 0, 0.25);
}

.index__section__novedades--container img, .index__section__destacado--container img{
    height: 150px;
}

.index__section__h2{
    text-align: center;
    margin-bottom: 10px;
    color: var(--colorAzulOscuro);
    font-weight: bold;
}
.index__section__h4{
    text-align: center;
    color: var(--colorAzulOscuro);
}

.articleCarrusel{
    display: none;
}

.index__section__destacado--article a,.index__section__novedades--article a{
    display: inline-block;
    text-decoration: none;
    background: var(--colorAzulOscuro);
    color: white;
    width: 120px;
    text-align: center;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.index__section__destacado--article p,.index__section__novedades--article p{
    display: inline;
    font-size: 32px;
    font-weight: bold;
    color: var(--colorAzulOscuro);
    
   
}

/*MEDIA TABLET*/
@media (min-width:768px){

    .index__section__elipses{
    justify-content: space-around;
    }

    .index__section__elipses i{
        padding: 21px;
        font-size: 40px;
    }

    /*futuro carrusel: flex-direction:row*/
    .articleCarrusel{
        display: flex;
    }
    .index__section__destacado, .index__section__novedades{
        flex-direction: row;
        width: 95%;
    }

    .article--flex{
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: flex-end;
        padding: 20px;
        
    }
    .index__section__novedades--article,
    .index__section__destacado--article{
        width: 30%;
        
    }
    
}
