.productCart__main {
    margin: 0 auto;
    width: 90%;
}

main section {
    margin-bottom: 20px;
}

main h2 {
    margin-top: 20px;
}

.productCart__main__section--cart-items {
    display: flex;
}

.productCart__main__article--product-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.productCart__main__article--first-line {
    display: flex;
    padding: 30px 0 0;
}

.productCart__main__article--second-line {
    display: flex;
}

.title{
    padding: 20px 0;
    line-height: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #202020;
   }

.counter {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    color: #202020;
    cursor: pointer;
}

.count {
    font-size: 16px;
    font-weight: 300;
    color: #202020;
}

.prices {
    height: 100%;
    text-align: right;
}

.amount {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #202020;
}

.remove {
    padding-top: 5px;
    font-size: 16px;
    font-weight: 300;
    color: #E44C4C;
    cursor: pointer;
   }