<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear producto</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <script src="https://kit.fontawesome.com/df7032ec01.js" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('./partials/header') %>
    <main class="addProduct-main">
      <div>
        <h2 class="addProduct-title-h2">Cargar nuevos productos</h2>
      </div>
      <form action="/products/store" method="POST">
        <div class="addProduct-div-general">
          <fieldset class="addProduct-fieldset">
            <legend>Ingrese el nombre del producto</legend>
            <input type="text" name="name" required>
          </fieldset>
        </div>
        <div class="addProduct-div-general">
          <fieldset class="addProduct-fieldset">
            <legend>Descripción del producto</legend>
            <textarea name="description" required></textarea>
          </fieldset>
        </div>
        <div class="addProduct-div-padre_img">
          <div class="addProduct-div-img_producto">
            <label>Agregar imagen del producto</label>
            <input type="file" name="image" accept="jpg" multiple>
          </div>
        </div>
        <div class="addProduct-div-catYcolor">
          <select name="section">
            <option value="">Sección</option>
            <option value="destacados">destacados</option>
            <option value="novedades">novedades</option>
          </select>
          <select name="category">
            <option value="Categoría">Categoría</option>
            <option value="Aminoácidos">Aminoácidos</option>
            <option value="Creatina">Creatina</option>
            <option value="Ganadores de peso">Ganadores de peso</option>
            <option value="Multivitamínicos">Multivitamínicos</option>
            <option value="Proteínas">Proteínas</option>
            <option value="Quemadores">Quemadores</option>
          </select>

          <select name="brand">
            <option value="Marca">Marca</option>
            <option value="BSN">BSN</option>
            <option value="ENA Sport">ENA Sport</option>
            <option value="MuscleTech">MuscleTech</option>
            <option value="Optimum Nutrition">Optimum Nutrition</option>
            <option value="Protein Project">Protein Project</option>
            <option value="Star Nutrition">Star Nutrition</option>
            <option value="HTN">HTN</option>
            <option value="Amix">Amix</option>
            <option value="FitWhey">FitWhey</option>
            <option value="Olimp Nutrition">Olimp Nutrition</option>
          </select>
        </div>
        <div class="addProduct-div-general">
          <fieldset class="addProduct-fieldset">
            <legend>Precio</legend>
            <input type="number" name="price">
          </fieldset>
        </div>
        <div class="addProduct-div-button">
          <button type="submit">Guardar</button>
          <button type="reset">Borrar</button>
        </div>
      </form>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>