<header class="header">
    <section class="header__section">
        <div class="header__section__contenedor">
            <div class="logo-menu"><i class="fa-solid fa-bars"></i></div>          
            <a href="/"><img src="/images/logo-mobil-tablet.png" alt=""></a>
                        <!-- ICONO ADMIN TABLET Y MOBILE -->
            <% if (locals.userLogin) { %>
                <div class="logo-user-carrito">
                     
                    <div class="logo__user">
                        <a href="/users/profile"><i class="fa-solid fa-address-card"></i></a>
                        <a href="/users/profile"><p>Mi Perfil</p></a>
                    </div>
                    <div class="logo__carrito">
                        <a href="/productCart/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                        <a href="/productCart/cart"><p>Mi carrito</p></a>
                    </div>
                    <div class="logo__user">
                        <a href="/users/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
                        <a href="/users/logout"><p>Salir</p></a>
                    </div>
                    <% if (locals.userLogin.rol === "admin") { %>
                        <div class="logo__user">
                            <a href="/admin"><i class="fa-solid fa-user"></i></a>
                            <a href="/admin"><p>Admin</p></a>
                        </div>
                    <% } %>
                </div>
                
            <% } else {  %>
                <div class="logo-user-carrito">
                    <div class="logo__user">
                        <a href="/users/login"><i class="fa-solid fa-user"></i></a>
                        <a href="/users/login"><p>Inicia Sesión</p></a>
                    </div>
                </div>
            
            <% } %>                                
        
        </div>
        <div class="buscador">
            <form action="/search" method="GET" class="search-form">
                <input type="text" placeholder="Que estas buscando?" name="keywords">
                <span><button class="header__section__contenedor__btn"><i type="submit" class="fa-solid fa-magnifying-glass"></i></button></span>
            </form>
        </div>
        
    </section>
    <section class="header__section__superior--2">
        
            <div class="header__secction__logoSuperior">
                <a href="/"><img src="/images/logo-superior.png" alt="logo-superior"></a>
            </div>
            <div class="buscador">
                <form action="/search" method="GET" class="search-form">
                    <input type="text" placeholder="Que estas buscando?" name="keywords">
                    <span><button class="header__section__contenedor__btn"><i type="submit" class="fa-solid fa-magnifying-glass"></i></button></span>
                </form>
            </div>
            
                    <!-- ICONO ADMIN 1024 -->
            <% if (locals.userLogin) { %> 
                    <div class="logo-user-carrito">
                        <div class="logo__user">
                            <a href="/users/profile"><i class="fa-solid fa-address-card"></i></a>
                            <a href="/users/profile"><p>Mi Perfil</p></a>
                        </div>
                        <div class="logo__carrito">
                            <a href="/productCart/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                            <a href="/productCart/cart"><p>Mi carrito</p></a>
                        </div>
                        <div class="logo__user">
                            <a href="/users/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
                            <a href="/users/logout"><p>Salir</p></a>
                        </div> 
                        <% if (locals.userLogin.rol === "admin") { %>
                            <div class="logo__user">
                                <a href="/users/profile"><i class="fa-solid fa-user"></i></a>
                                <a href="/users/profile"><p>profile</p></a>
                            </div>
                        <% } %>          
                    <% } else{  %>
                        <div class="logo-user-carrito">
                            <div class="logo__user">
                                <a href="/users/login"><i class="fa-solid fa-user"></i></a>
                                <a href="/users/login"><p>Inicia Sesión</p></a>
                            </div>
                        </div>
                    <% } %> 
                    </div> 
    </section>
    
    <section class="header__section__inferior--2">
        <div class="header__section__inferior--logo">
            <a href="/"><img src="/images/logo-inferior.png" alt=""></a>        
        </div>      
        <div class="header__section__inferior--sections">
            <ul>
                <a href="/"><li>inicio</li></a>
                <a href="/products"><li>productos</li></a>
                <a href=""><li>contactos</li></a>
                <a href=""><li>preguntas frecuentes</li></a>
            </ul>
        </div>       
    </section>
    
    
</header>