<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detalledelproducto</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3f12bea8ae.js" crossorigin="anonymous"></script>
</head>

<body class="#">
    <header class="header">
        <section class="header__section">
            <div class="header__section__contenedor">
                <div class="logo-menu"><i class="fa-solid fa-bars"></i></div>
                <a href="/"><img src="/images/logo-mobil-tablet.png" alt=""></a>
                <div class="logo-user-carrito">
                    <div class="logo__user">
                        <a href="/login"><i class="fa-solid fa-user"></i></a>
                        <a href="/login"><p>Mi cuenta</p></a>
                    </div>
                    <div class="logo__carrito">
                        <a href="/product-cart"><i class="fa-solid fa-cart-shopping"></i></a>
                        <a href="/product-cart"><p>Mi carrito</p></a>
                    </div>
                    
                </div>
            </div>
            <div class="buscador">
                <form action="">
                    <input type="text" placeholder="Que estas buscando?">
                    <span><i class="fa-solid fa-magnifying-glass"></i></span>
                </form>
            </div>
        </section>
        <section class="header__section__superior--2">
            
                <div class="header__secction__logoSuperior">
                    <a href="/"><img src="/images/logo-superior.png" alt="logo-superior"></a>
                </div>
                <div class="buscador">
                    <form action="">
                        <input type="text" placeholder="Que estas buscando?">
                        <span><i class="fa-solid fa-magnifying-glass"></i></span>
                    </form>
                </div>
                <div class="logo-user-carrito">
                    <div class="logo__user">
                        <a href="/login"><i class="fa-solid fa-user"></i></a>
                        <a href="/login"><p>Mi cuenta</p></a>
                    </div>
                    <div class="logo__carrito">
                        <a href="/product-cart"><i class="fa-solid fa-cart-shopping"></i></a>
                        <a href="/product-cart"><p>Mi carrito</p></a>
                    </div>
                </div>

        </section>
        <section class="header__section__inferior--2">
            <div class="header__section__inferior--logo">
                <a href="/"><img src="/images/logo-inferior.png" alt=""></a>
                
            </div>
            <div class="header__section__inferior--sections">
                <ul>
                    <a href="/"><li>inicio</li></a>
                    <a href=""><li>productos</li></a>
                    <a href=""><li>contactos</li></a>
                    <a href=""><li>preguntas frecuentes</li></a>
                </ul>
            </div>
        </section>
    </header>
    <main class="main">
        <section class="main_section">
            <article>
                <div class="main_contenedor_superior">
                    <h2 class="main_producto_titulo_mobile">When Protein (1000 grs) NUCLEO FIT - Frutos Rojos</h2>
                    <div class="main_producto_imagen">
                        <img src="../images/detalledelproducto01.jpeg" alt="">
                    </div>
                </div>
                <div class="main_contenedor_inferior">
                    <h2 class="main_producto_titulo_tablet">When Protein (1000 grs) NUCLEO FIT - Frutos Rojos</h2>
                    <h2 class="main_producto_subtitulo">Suplemento dietario de proteinas y aminoacidos</h2>
                    <p class="main_producto_precio">$7500</p>
                    <p class="main_producto_cuotas">3 cuotas sin interes de $2500</p>
                    <nav class="main_producto_nav">
                        <ul class="valoracion">
                            <li class="_1"><i class="fa-solid fa-star"></i></li>
                            <li class="_2"><i class="fa-solid fa-star"></i></li>
                            <li class="_3"><i class="fa-solid fa-star"></i></li>
                            <li class="_4"><i class="fa-solid fa-star"></i></li>
                            <li class="_5"><i class="fa-solid fa-star"></i></li>
                            <li class="_6">valoracion</li>
                        </ul>
                    </nav>
                    <nav class="main_producto_nav_cantidad">
                        <ul class="counter">
                            <li class="btn"><i class="fa-solid fa-minus"></i></li>
                            <li class="count-detail">2</li>
                            <li class="btn"><i class="fa-solid fa-plus"></i></li>
                        </ul>
                    </nav>
                    <form action="/product-cart"><button class="button">Comprar</button></form>
                    <p class="main_producto_stock">Stock Disponible.</p>
                </div>  
            </article>
        </section>
        <section class="main_producto_section">
            <h3 class="main_producto_section_h3">Descripcion del producto</h3>
            <p class="main_producto_section_p">Contiene un nivel de máxima pureza con una rápida absorción de suero
                lácteo, obtenida por métodos no agresivos que garantizan la calidad y estabilidad proteica. Además es
                baja en carbohidratos, ácidos grasos y una excelente calidad, garantizando una efectiva y rápida
                recuperación del tejido muscular. Aportando un alto contenido de aminoácidos esenciales para el
                organismo,obteniendo una excelente bioasimilación y absorción de micronutrientes.Su agradable sabor y
                alta disolución lo convierte en la opción inteligente a la hora de incorporar proteínas de alto valor
                biológico a nuestra dieta.</p>
        </section>

        <section>
            <h3 class="main_producto_section_h3">Informacion Nutricional</h3>
            <ul class="main_producto_section_ul_detalles">
                <li>PORCIÓN: 40gr.</li>
                <li>PORCIONES POR ENVASE: 25 POR PORCIÓN %IDR(*)</li>
                <li>Proteínas 25 g. 45%</li>
                <li>Bcaa 2gs</li>
                <li>Glutamina 6gs</li>
                <li>Grasas trans 0%</li>
                <li>Carbohidratos 12 g. 4%</li>
                <li>Valor energético 166 Kcal / 695Kj 8%</li>
            </ul>
        </section>
    </main>
    <footer>
        <div class="container__footer">

            <div class="container__footer-categorias">
                <h3>Categorias</h3>
                <ul>
                    <a href="">
                        <li>inicio</li>
                    </a>
                    <a href="">
                        <li>productos</li>
                    </a>
                    <a href="">
                        <li>contactos</li>
                    </a>
                    <a href="">
                        <li>preguntas frecuentes</li>
                    </a>
                </ul>
            </div>

            <div class="container__footer-contactos">
                <h3>Contactos</h3>
                <ul>
                    <a href=""><i class="fa-brands fa-whatsapp"></i> <span>+54912345678</span></a>
                    <a href=""><i class="fa-solid fa-phone"></i><span>(011)12345678</span></a>
                    <a href=""><i class="fa-solid fa-envelope"></i><span>email@trainingshop.com</span></a>
                    <a href=""><i class="fa-solid fa-location-dot"></i><span>Capital Federal, Buenos Aires,
                            Argentina</span></a>
                </ul>
            </div>

        </div>
        <div class="copy">
            <p>Copyright Training Shop - Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>