<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/df7032ec01.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href=" /css/styles.css">

    <title>Training Shop</title>
</head>
<body class="index">
    <header class="header">
        <section class="header__section">
            <div class="header__section__contenedor">
                <div class="logo-menu"><i class="fa-solid fa-bars"></i></div>
                <a href="/"><img src="/images/logo-mobil-tablet.png" alt=""></a>
                <div class="logo-user-carrito">
                    <div class="logo__user">
                        <a href="/login"><i class="fa-solid fa-user"></i></a>
                        <a href="/login"><p>Mi cuenta</p></a>
                    </div>
                    <div class="logo__carrito">
                        <a href="/product-cart"><i class="fa-solid fa-cart-shopping"></i></a>
                        <a href="/product-cart"><p>Mi carrito</p></a>
                    </div>
                    
                </div>
            </div>
            <div class="buscador">
                <form action="">
                    <input type="text" placeholder="Que estas buscando?">
                    <span><i class="fa-solid fa-magnifying-glass"></i></span>
                </form>
            </div>
        </section>
        <section class="header__section__superior--2">
            
                <div class="header__secction__logoSuperior">
                    <a href="/"><img src="/images/logo-superior.png" alt="logo-superior"></a>
                </div>
                <div class="buscador">
                    <form action="">
                        <input type="text" placeholder="Que estas buscando?">
                        <span><i class="fa-solid fa-magnifying-glass"></i></span>
                    </form>
                </div>
                <div class="logo-user-carrito">
                    <div class="logo__user">
                        <a href="/login"><i class="fa-solid fa-user"></i></a>
                        <a href="/login"><p>Mi cuenta</p></a>
                    </div>
                    <div class="logo__carrito">
                        <a href="/product-cart"><i class="fa-solid fa-cart-shopping"></i></a>
                        <a href="/product-cart"><p>Mi carrito</p></a>
                    </div>
                </div>

        </section>
        <section class="header__section__inferior--2">
            <div class="header__section__inferior--logo">
                <a href="/"><img src="/images/logo-inferior.png" alt=""></a>
                
            </div>
            <div class="header__section__inferior--sections">
                <ul>
                    <a href="/"><li>inicio</li></a>
                    <a href=""><li>productos</li></a>
                    <a href=""><li>contactos</li></a>
                    <a href=""><li>preguntas frecuentes</li></a>
                </ul>
            </div>
        </section>
    </header>
    <main class="index__main">
        <section >
            <img class="index__section__banner" src="/images/banner1.png" alt="">
        </section>
        <section class="index__section__elipses">
            <article class="index__section__elipses__article--container">
                    <i class="fa-solid fa-truck"></i>
                    <p>Envíos sin cargo</p>
                </article>
            <article class="index__section__elipses__article--container">
                    <i class="fa-solid fa-credit-card centrado-i"></i>
                    <p>Todas las tarjetas</p>
                </article>
            <article class="index__section__elipses__article--container">   
                    <i class="fa-solid fa-shield-halved centrado-i"></i>
                    <p>Compra segura</p>
                </article>
        </section>
        <section class="index__section__novedades">
            <h2 class="index__section__h2">NOVEDADES</h2>
            <div class="article--flex">
             <article class="index__section__novedades--article">
                 <div class="index__section__novedades--container"><img src="/images/product1.png" alt=""></div>
                 <h4 class="index__section__h4">Creatina Pura XPLODE 500gr</h4>
                 <div class="article__price--flex">
                     <p>$7500</p>
                     <a  a href="/detalledelproducto">Comprar</a>
                 </div>
             </article>
             <article class= "index__section__novedades--article articleCarrusel">
                 <div class="index__section__novedades--container"><img src="/images/product3-betaAlanine.png" alt=""></div>
                 <h4 class="index__section__h4">BETA ALANINE 300gr</h4>
                 <div class="article__price--flex">
                     <p>$7500</p>
                     <a href="/detalledelproducto">Comprar</a>
                 </div>
             </article>
             <article class= "index__section__novedades--article articleCarrusel">
                 <div class="index__section__novedades--container"><img src="/images/product2.png" alt=""></div>
                 <h4 class="index__section__h4">TNT Dynamite 240gr</h4>
                 <div class="article__price--flex">
                     <p>$7500</p>
                     <a href="/detalledelproducto">Comprar</a>
                 </div>
             </article>
            </div>
        </section>
        <section class= "index__section__destacado">
            <h2 class="index__section__h2">DESTACADOS</h2>
            <article class="article--flex">
             <article class="index__section__destacado--article">
                 <div class="index__section__destacado--container"><img src="/images/product4-protein.png" alt=""></div>
                 <h4 class="index__section__h4">WHEY PROTHEIN - chocolate suizo 2lb</h4>
                 <div class="article__price--flex">
                     <p>$7500</p>
                     <a href="/detalledelproducto">Comprar</a>
                 </div>
             </article>
             <article class="index__section__destacado--article articleCarrusel">
                 <div class="index__section__destacado--container"><img src="/images/productZMA.png" alt=""></div>
                 <h4 class="index__section__h4">ZMA - 90caps</h4>
                 <div class="article__price--flex">
                     <p>$7500</p>
                     <a href="/detalledelproducto">Comprar</a>
                 </div>
             </article>
             <article class="index__section__destacado--article articleCarrusel">
                 <div class="index__section__destacado--container"><img src="images/productKiller.png" alt=""></div>
                 <h4 class="index__section__h4">KILLER CUTZ - 100gr</h4>
                 <div class="article__price--flex">
                     <p>$7500</p>
                     <a href="/detalledelproducto">Comprar</a>
                 </div>
             </article>
            </article>
        </section>
    </main>
    <footer>
        <div class="container__footer">

            <div class="container__footer-categorias">
                <h3>Categorias</h3>
                <ul>
                    <a href=""><li>inicio</li></a>
                    <a href=""><li>productos</li></a>
                    <a href=""><li>contactos</li></a>
                    <a href=""><li>preguntas frecuentes</li></a> 
                </ul>
            </div>

            <div class="container__footer-contactos"> 
                <h3>Contactos</h3>
                <ul>
                    <a href=""><i class="fa-brands fa-whatsapp"></i> <span>+54912345678</span></a>
                    <a href=""><i class="fa-solid fa-phone"></i><span>(011)12345678</span></a>
                    <a href=""><i class="fa-solid fa-envelope"></i><span>email@trainingshop.com</span></a>
                    <a href=""><i class="fa-solid fa-location-dot"></i><span>Capital Federal, Buenos Aires, Argentina</span></a>
                </ul>
            </div>    

        </div>
        <div class="copy">
            <p>Copyright Training Shop - Todos los derechos reservados.</p>
        </div>
    </footer>

</body>
</html>